@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* .formSection {
	display: none;
} */

/* BODY */
body {
	font-family: 'Roboto', sans-serif;
	background-color: hsl(235, 18%, 26%);
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100vh;
}

/* CONTAINER */
.container {
	max-width: 1200px;
	padding: 1rem;
}

/* CARD */
.card {
	display: flex;
	align-items: center;
	gap: 70px;
	background-color: white;
	max-width: 930px;
	border-radius: 20px;
	padding: 25px;
	padding-left: 60px;
}

.complete {
	display: none;
	max-width: 500px;
	padding: 50px;
}

.complete h1 {
	margin-top: 33px;
	line-height: 3.5rem;
	margin-bottom: 30px;
}

.complete p {
	margin-bottom: 10px;
}

.emailspan {
	font-weight: 700;
	color: hsl(234, 29%, 20%);
}

/* .sec2 {
	background: url('./assets/images/illustration-sign-up-desktop.svg');
	width: 470px;
	height: 590px;
	background-size: cover;
	border-radius: 0;
} */

/* SEC1 */
.sec1 {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sec2 img {
	max-width: 100%;
}

.benefits {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 30px;
}

.benefit {
	display: flex;
	align-items: center;
	gap: 20px;
}

/* LETTERS */
h1 {
	font-size: 3.5rem;
	font-weight: 700;
	color: hsl(234, 29%, 20%);
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5rem;
	color: hsl(234, 29%, 20%);
}

/* FORM ELEMENT */
label {
	font-size: 0.8rem;
	font-weight: 700;
	color: hsl(234, 29%, 20%);
}

input {
	color: hsl(234, 29%, 20%);
	font-size: 1rem;
	border: 1px solid hsl(231, 7%, 60%);
	padding: 1.25rem;
	margin-top: 10px;
	border-radius: 8px;
	width: 100%;
	outline: none;
}

.labeldiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.validate {
	font-size: 0.8rem;
	font-weight: 700;
	display: none;
	color: hsl(4, 100%, 67%);
}

.inputRed {
	border: 1px solid hsl(4, 100%, 67%);
}

button {
	margin-top: 1.5rem;
	font-size: 1.1rem;
	color: white;
	font-family: 'Roboto', sans-serif;
	background-color: hsl(234, 29%, 20%);
	border: none;
	padding: 1.2rem;
	border-radius: 8px;
	width: 100%;
}

button:hover {
	background-color: hsl(4, 100%, 67%);
}
@media only screen and (max-width: 475px) {
	body {
		height: 100%;
	}

	.container {
		padding: 0;
	}
	.sec2 img {
		content: url('./assets/images/illustration-sign-up-mobile.svg');
		width: 500px;
	}
	.card {
		background-color: white;
		width: 100%;
		flex-direction: column-reverse;
		padding: 0;
		gap: 0;
		overflow: hidden;
		border-radius: 0;
	}
	.sec1 {
		padding: 20px;
	}
	.sec2 {
		overflow: hidden;
		padding: 0;
	}
	body {
		background-color: white;
	}
	.complete {
		display: none;
		padding: 30px;
		grid-template-rows: 5fr 1fr;
	}
	.complete h1 {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}
}
